 /*
 font-family: 'Acme', sans-serif;
font-family: 'Caveat', cursive;
font-family: 'Fresca', sans-serif;
font-family: 'Teko', sans-serif;
font-family: 'Tiro Devanagari Hindi', serif; */



body{
  background-color: #f8ecc2;
  margin: 0px;
}

header{
background-color: #f8ecc2;
}

#logo {
  visibility: hidden;
}

#logo img{
  visibility: visible;

}
a{
  text-decoration:none ;
  color: white;
}
header a{
  padding: 5px 10px ;
  margin: 1.1rem;
  text-transform: uppercase;
  font-family: 'Teko', sans-serif;
  font-size: 1.2rem;
  border: 2px solid #D17017;
  border-radius: 2rem;
  background: linear-gradient(90deg, rgba(101,31,5,1) 0%, rgba(246,141,44,1) 100%); 
}

header ul, #reservation {
  align-items: center;
  list-style-type:none;
    display: flex;
    justify-content: space-between;
    margin: 0;
}

header button {
    margin: 15px ;
}

header h1 {
    display: none ;
}
header img  {
  max-height : 80px;

}
li {
 white-space: nowrap ;
}
.bandeau , h2{
  background-color: #651f05 ;
  color: white;
  margin: 0%;
  text-align: center;
  font-family: 'Freska', sans-serif;
  text-transform: uppercase;
}

i{
  color: #651f05;
  font-size: 25px;
  margin-left: 1rem;
}

.HatchFam ul{
  display: flex;
  list-style-type:none;
  padding: 0;

}

.HatchFam a{
  padding: 5px 10px ;
  text-transform: uppercase;
  font-family: 'Teko', sans-serif;
  font-size: 1.2rem;
  border: 3px solid #651f05;
  border-bottom: none;
  border-radius: 1rem 1rem 0rem 0rem;
  background:  #e7a226 ; 
}

.btn-case{
  margin: 7% auto 0% 8% ;
}
.fileCase{
  display: flex;
  background-color: #e7a226;
  border: #651f05 solid 3px;
  border-top: none;
  border-radius: 0 0 2rem 2rem;
  margin: 8%;
  min-width: 800px;
  margin-top: 0;
}

.fileCase img{
  max-width: 700px;
  border-radius: 2rem;
  margin: 0.5rem;
}

.filetext{
  min-width: 15%;
}

.filetext h3{
  text-align: center;
  min-width: 20%;
  margin: 8% ;
}

.filetext p{
  text-align: center;
  color: white;
}

.separateur{
  min-height:1px ;
  margin: 5px ;
  border-top: #f8ecc2 solid 2px ;
}



/* Section Slide  */
.slideshow-container {
  max-width: cover;
  min-width: 640px;
  position: relative;
  margin: auto;
}

/* cache l'image */
.mySlides {
  display: none;
  position: static;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  z-index: 2;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* titre h3 */
.numbertext {
  margin-top: 0.5rem;
  color: #f2f2f2;
  font-size: 2rem;
  visibility: visible;

}
/* texte description */
.textslider01 {
  visibility: visible;
  color: #f2f2f2;
  font-size: 15px;
  max-width: 20rem;
  width: 100%;
  text-align: center;
}
/* bouton plus d'info hover */
.plusbutton{
  text-transform: uppercase;
    color: white;
    font-family: 'Teko', sans-serif;
    font-size: 1.2rem;
  
  
}
.plusbutton p{
  padding: 5px 10px ;
  margin: 1.1rem;
  
  border: 2px solid #000000;
  border-radius: 2rem;
align-items: center;
background: rgba(31, 31, 31, 0.404);
}
.slide{
  visibility: hidden;
  margin: 12% 0rem 0rem 12%;
  border: 2px solid rgba(0, 0, 0, 0.678);
  background: rgba(114, 114, 114, 0.5);
  position: absolute;
  border-radius: 25px;
  padding: 0.5rem;
  text-align: center;
}

/* le dots */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

